* { -webkit-font-smoothing: antialiased; }

html { -webkit-text-stroke: 0.25px; }

.canvas { margin: 20px auto; padding: 0.3in; width: 8.5in; box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7); font-family: "Raleway", sans-serif; font-size: 12pt; }
.canvas a { color: #212529; }
.canvas .fas, .canvas .fab { color: #cc3333; }
.canvas h1 { font-size: 31.2pt; font-weight: 500; line-height: 1em; }
.canvas h1 small { font-size: 19.2pt; font-weight: 300; }
.canvas section:not(:last-child) { margin-bottom: 1.5em; }
.canvas section > header { font-size: 19.2pt; color: #cc3333; margin-bottom: 8px; margin-top: -4px; }
.canvas section article { margin-bottom: 10px; }
.canvas .skills { column-count: 4; }
.canvas .grouped-caption { font-weight: 600; font-size: 13.2pt; margin-top: 1em; margin-bottom: 0.5em; }
.canvas .left-caption { display: block; font-weight: 500; }
.canvas .left-period { font-weight: 300; }
.canvas .right-desc { font-weight: 400; text-align: justify; }
.canvas .right-caption { display: block; font-weight: 600; }
.canvas ul:not(.list-unstyled), .canvas ol:not(.list-unstyled) { padding-inline-start: 20px; }
.canvas ul:not(.list-unstyled) { list-style-type: square; }

:root { --animate-delay: 400ms; }

@media print { @page {}
  html, body { height: auto; margin-bottom: 0; padding-bottom: 0; }
  .canvas { font-size: 14pt !important; margin: 0; padding-bottom: 0; }
  .bg-light { background-color: #fff !important; }
  article.row { page-break-inside: avoid; }
  a { text-decoration: none !important; } }
